/.git
/.env
/.vscode
/.github
/.husky
/share
/data
/media
/keys
**/__pycache__
**/node_modules
/static
/serverless
/site
/helm-chart
/dev
/changelog.d
/cvat/apps/*/tests
/cvat/apps/*/rules/tests
/cvat-cli
/profiles
